.ListBox{
  position: relative;
}
.trigger{

}
.options{
  background: var(--listbox-bg);
  position: absolute;
  z-index: 100000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}
.item{
  padding: 10px;
}

.active{
  background: var(--inverted-primary-color);
}
