.app_blue_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #1373d3;
  --primary-color: #033081;
  --secondary-color: #4eafff;
  --inverted-primary-color: #faf4fb;
  --inverted-secondary-color: #faf4fb;
}
