.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #049604; //основной цвет | заголовок
  --secondary-color: #04ff04; //вторичный цвет | описание
  --inverted-primary-color: #0232c2; //основной цвет | заголовок
  --inverted-secondary-color: #0452ff; //вторичный цвет | описание
}
